/*------------------------copyright style----------------------------*/
.copyright_wrap {
    padding: 20px 0;
    visibility: visible;
    p {
        opacity: 0.35;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        line-height: 1.54;
        color: #000000;
        transition: all 0.5s;
        span {
            display: inline-block;

            &:hover {
                color: #5EBFBF;
            }
        }
    }
}